<div appDroppable (dragStart)="onDragStart($event, box, 'available',  i)" *ngFor="let box of availableBoxes; let i = index;"
  class="box">
  {{ box }}
  <div *appDraggableHelper class="box">
    {{ box }}
  </div>
</div>

<div appDropzone class="dropzone" (drop)="move('dropzone1')" (remove)="remove()">
  <div appDroppable (dragStart)="onDragStart($event, box, 'dropzone1', i)" *ngFor="let box of dropzone1Boxes; let i = index;"
    class="box">
    {{ box }}
    <div *appDraggableHelper class="box">
      {{ box }}
    </div>
  </div>
</div>

<div appDropzone class="dropzone" (drop)="move('dropzone2')" (remove)="remove()">
  <div appDroppable (dragStart)="onDragStart($event, box, 'dropzone2', i)" *ngFor="let box of dropzone2Boxes; let i = index;"
    class="box">
    {{ box }}
    <div *appDraggableHelper class="box">
      {{ box }}
    </div>
  </div>
</div>
