<div appDroppable (dragStart)="currentDraggingBox = box;" *ngFor="let box of availableBoxes; let i = index;" class="box">
  {{ box }}
  <div *appDraggableHelper class="box">
    {{ box }}
  </div>
</div>

<div appDropzone class="dropzone" (drop)="move(currentDraggingBox, dropzone1Boxes)" (remove)="move(currentDraggingBox, availableBoxes)">
  <div appDroppable (dragStart)="currentDraggingBox = box;" *ngFor="let box of dropzone1Boxes; let i = index;" class="box">
    {{ box }}
    <div *appDraggableHelper class="box">
      {{ box }}
    </div>
  </div>
</div>

<div appDropzone class="dropzone" (drop)="move(currentDraggingBox, dropzone2Boxes)" (remove)="move(currentDraggingBox, availableBoxes)">
  <div appDroppable (dragStart)="currentDraggingBox = box;" *ngFor="let box of dropzone2Boxes; let i = index;" class="box">
    {{ box }}
    <div *appDraggableHelper class="box">
      {{ box }}
    </div>
  </div>
</div>
