/* You can add global styles to this file, and also import other style files */

.box {
  background: #bada55;
  border: 1px solid black;
  padding: 10px 20px;
  display: inline-block;
  margin: 5px;
}

.draggable {
  cursor: grab;
  user-select: none;
}

.dragging {
  background: coral;
}

.movable:not(.dragging) {
  transition: transform 300ms ease-in-out;
}

.area {
  background: #c0ffee;
  padding: 40px;
  display: inline-block;
  margin: 5px;
}
