/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay';
@include cdk-overlay();

.box {
  background: #bada55;
  border: 1px solid black;
  padding: 10px 20px;
  display: inline-block;
  margin: 5px;
}

.draggable {
  cursor: grab;
  user-select: none;
}

.dragging {
  background: coral;
}

.movable:not(.dragging) {
  transition: transform 300ms ease-in-out;
}

.sortable.dragging {
  background: none;
  border: 1px dashed black;
  color: transparent;
}

.area {
  background: #c0ffee;
  padding: 40px;
  display: inline-block;
  margin: 5px;
}

.dropzone {
  padding: 20px;
  margin: 20px 5px;
  background: lightgray;
  min-height: 200px;
  border: 2px solid black;

  &.dropzone-active {
    border: 2px solid coral;
  }

  &.dropzone-entered {
    background: antiquewhite;
  }
}

.draggable-overlay-helper {
  pointer-events: none !important;
}

ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

ul.vertical-list {
  flex-direction: column;
}
